@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

img {
  margin: 0 auto;
  padding: 0 auto;
}

.top-bar, .top-bar ul{
  background-color: #FFA500;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.ul {
  background-color: #FFA500;
}

.li {
  margin: 0 auto;
}

.menu {
  background-color: #FFA500;
}

.a:hover {
  text-decoration-color: white;
}

.button {
  background-color: black;
  border: .5rem black;
  border-radius: 1rem;
  margin-right: 1rem;
}

.button:hover{
  background-color: #6e7f80;
}

.profile-image {
  height: 200px;
  width: 200px
}

.topbar-profile-image {
  border: black solid 25%;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  padding: 0 auto;
}