@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.callout {
  background-color: #e6e6e6;
}

.testback{
  background-image: repeating-linear-gradient( rgba(215, 214, 214, 0.525) 10%,  white 20%, #de9e3646 30%,);
}

body {
  background-image: repeating-linear-gradient( rgba(215, 214, 214, 0.525) 10%,  white 20%, #de9e3646 30%,);
  background-color: #e6e6e6;
}

h1, h3, h5 {
  border: solid black;
  background-color: #DEB841;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 1rem;
  margin:.75rem;
}

.top-bar, .top-bar ul{
  background-color: #de9e36;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.ul {
  background-color: #de9e36;
}

.li {
  margin: 0 auto;
}

.menu {
  background-color: #de9e36;
}

.a:hover {
  text-decoration-color: #e6e6e6;
}

.button {
  background-color: #37323E;
  border: .5rem #37323E;
  border-radius: 1rem;
  margin-right: 1rem;
}

.button:hover{
  background-color: #6e7f80;
}

.button:focus {
  background-color: #37323E;
}

.profile-image {
  height: 200px;
  width: 200px
}

.profile-image-preview {
  height: 200px;
  width: 200px
}

img {
  height: 300px;
  width: 20rem;
}

.dropzone {
  background-color: #e6e6e6;
}

.shoe-tile-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, 20rem);
  padding: 1rem
}

.shoe-tile-container>* {
  background-color: white;
  height: 450px;
}

.shoe-tile {
  border: solid #37323E;
}

.shoe-show-grid {
  display: flex;
  justify-content: space-around;
}

.shoe-show-image {
  border: #37323E solid .2rem;
}

.shoe-description {
  border: solid black;
  background-color: #DEB841;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 1rem;
  margin:.75rem;
}

.star{
  color: #de9e36;
  opacity: 70%;
}
.reviewheader{
  background-color: #de9e36;
}

.backorange{
  background-color: #de9e36;
}

.white{
  background-color: white;
}

.centered {
  text-align: center;
}